/*div{
  border: solid 1px red;
}*/
h1{
  text-align: center;
  text-shadow: 5px 0 10px yellow, -5px 0 10px red;
  font-family: cursive;
}
h3{
  text-align: center;
  font-family: cursive;
  margin-top: 0;
}
#hdr{
  background-color: skyblue;
  padding-bottom: 10px;
}
footer {
  width: 100%;
  text-align: center;
  bottom: 0;
  position: fixed;
}
